.content{
    padding-top: 5px;
    margin-top: -15px;
}

.titee{
    padding-top: -70px;
}

.row{
    display: flex;
    gap: 1px;

    mat-form-field{
        width: 100%;
    }
}

.action{
    padding: 0px 25px 20px;
    margin-top: 10px;
    
    button{
        flex: 1;
    }
}

